<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="">
        <i class="fas fa-home fa-4x"></i>
    </div>

    <!-- Login Form -->
    <div>
      <form>
          <input type="text" id="login" class="fadeIn second" name="Cadastro" placeholder="Usuário" required>
          <input type="text" id="login" class="fadeIn second" name="Cadastro" placeholder="Email" required>
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha" required>
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Repita sua senha" required>
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Cpf" required>
          <input href="login" type="submit" value="Log in">
      </form>
   </div>
  </div>
</div>