<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mt-5 mb-0 meio">
    <app-titulo [titulo]="titulo"></app-titulo>
    <h2 class="ml-5">1 Imovél encontrado para alugar</h2>
</div>
<div class="vamover2 mb-5 pb-5" id="formContent">
        
    <div class="vamover grow ">       
        <div class=" row bg-light mt-3 w-auto ">
            <div class="row">
                <div class="col-md-4 img-fluid p-0">
                    <img src="../../assets/img/casa.png" alt="banner-home" class="img-fluid w-100 h-100"/>
                </div>
                <div class="col mt-3 w-auto align-self-start">
                  <h1 for="valor" id="valor">R$ 2.200<small>/mês</small></h1>
                    <div class="row w-auto">
                        <p class="col-8 pr-0 w-auto">condomínio R$ 790</p>
                        <p class="col p-0 w-auto">IPTU R$ 790</p>
                    </div>
                    <div class="col-4 w-auto">
                        <p>Prédio com fino acabamento, ponto nobre da Savassi, próximo ao Shopping Pátio Savassi e fácil acesso.</p>
                    </div>
                    <div class="col h-auto">
                        <small class="col" for="nome" id="nome"><p class="rua">Rua Professor Moraes, Savassi</p></small>    
                        <div class="row pt-3">
                            <i class="fas fa-shower col-1">  2</i>
                            <i class="fas fa-car col-1 m-0">  4</i>
                            <i class="fas fa-bed col-1">  2</i>
                            <button type="button" class="btn btn-warning m-5" onclick="window.location.href='Aluguel'">
                                Visualizar imovél
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>